<h1 class="animate__animated animate__slideInUp">Héroe</h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="/heroes">
      <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
      Regresar
    </button>
  </div>
</div>

<!--Formulario de Nuevo Héroe--->
<div class="row justify-content-center mt-3 animate__animated animate__backInLeft">
  <div class="col-md-8">
    <div class="card shadow-lg">
      <div class="card-header">Datos del Héroe</div>
      <div class="card-body">


      <form (ngSubmit)="guardar(form)"
            #form = "ngForm"
      >
        <div class="form-group">
          <label>Firebase ID</label>
          <input
            class="form-control"
            type="text"
            disabled="disabled"
            placeholder="Firebase ID"
            [(ngModel)]="heroe.id"
            name="id"
            required
          >
          <small class="form-text text-muted">Este Campo es Autogenerado</small>
        </div>
        <div class="form-group">
          <label>Nombre *</label>
          <input
            class="form-control"
            type="text"
            placeholder="Nombre Héroe"
            required
            [(ngModel)]="heroe.nombre"
            name="nombre"
          >
        </div>

        <div class="form-group">
          <label>Poder *</label>
          <input
            class="form-control"
            type="text"
            placeholder="Poder del Héroe"
            [(ngModel)]="heroe.poder"
            name="poder"
          >
        </div>

        <div class="form-group">
          <label>Estado</label>
          <div class="text-center">
            <button
              *ngIf="heroe.vivo"
              (click)="heroe.vivo = false"
              class="btn btn-outline-success w-75" type="button">
              <fa-icon [icon]="faSmileWink"></fa-icon>
              Vivo
            </button>
            <button
              *ngIf="!heroe.vivo"
              (click)="heroe.vivo = true"
              class="btn btn-outline-danger w-75" type="button">
              <fa-icon [icon]="faDizzy"></fa-icon>
              Muerto
            </button>
          </div>
        </div>

        <hr>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary w-25">
            <fa-icon [icon]="faSave"></fa-icon>
            Guardar
          </button>
        </div>

        </form>

      </div>
    </div>
  </div>
</div>
